@import "variables.css";
@import "normalize.css";
@import "font.css";
@import "reset.css";

/* colors defined in variables.css */
:root {
	/* font */
	--sans: "Atlas Grotesk", -apple-system, BlinkMacSystemFont, Helvetica, Arial, sans-serif;
	--serif: "Tiempos Text", Iowan Old Style, Times New Roman, Times, serif;
	--mono: Menlo, Consolas, Monaco, monospace;

	/* z-index */
	--z-bottom: -100;
	--z-middle: 0;
	--z-top: 100;
	--z-overlay: 1000;

	/* presets (used in reset.css) */
	--color-black: #32302f;
	--color-gray-600: #6a6864;
	--color-gray-900: #32302f;
	--color-black: #000;
	--color-gray-300: #afaaa4;
	--color-gray-100: #e1dad3;
	--color-gray-50: #FBF3EB;
	--border-radius: 2px;
	--font-body: var(--serif);
	--font-form: var(--sans);
	--color-bg: var(--color-gray-50);
	--color-fg: var(--color-gray-900);
	--color-primary: var(--color-fg);
	--color-link: var(--color-fg);
	--color-link-hover: var(--color-fg);
	--color-focus: var(--color-fg);
	--color-mark: var(--color-gray-300);
	--color-selection: var(--color-gray-300);
	--color-border: var(--color-gray-300);
	--color-button-bg: var(--color-gray-100);
	--color-button-fg: var(--color-fg);
	--color-button-hover: var(--color-gray-300);
	--color-input-bg: var(--color-gray-100);
	--color-input-fg: var(--color-gray-900);
	--color-placeholder: var(--color-gray-600);

	/* "1" second duration */
	--1s: 1ms;
	
	--col-width: 720px;
	
}

/* dark theme */
/* @media screen and (prefers-color-scheme:dark) {
	:root {
		
	}
} */

@media screen and (prefers-reduced-motion: no-preference) {
	:root {
		--1s: 1s;
	}
}

a {
	text-decoration-thickness: 1px;
}

h1, h2, h3, h4 {
	font-weight: bold;
	font-family: var(--sans);
}


h1 {
	font-size: var(--28px, 28px);
}


h2 {
	font-size: var(--28px, 28px);
}

h3 {
	font-size: 17px;
}


svg {
	display: block;
	width: 100%;
	height: auto;
}

button {
	border-radius: 4px;
	border: 2px solid var(--color-fg);
}

p, h3 {
	line-height: 1.75;
	font-size: 16px;
}

span.strike {
	display: inline-block;
	text-decoration: line-through;
}

#story p.abridged {
	display: none;
}

h2 span {
	display: inline-flex;
	line-height: 1;
	font-size: var(--18px);
	background: var(--color-fg);
	color: var(--color-bg);
	padding: 0.5em;
	text-transform: uppercase;
	font-family: var(--sans);
}

.tldr p.abridged, .tldr figure {
	display: block;
	width: 100% !important;
	margin: 0 !important;
	max-width: none !important;
	padding: 0 !important;
}

.tldr figure .frame {
	display: none;
}

#story p figure {
	display: none;
}

p span.big {
	font-size: 2.5em;
}

aside {
	display: block;
	margin: 1rem auto;
	font-size: 13px;
	color: var(--color-gray-600);
}

aside a {
	color: var(--color-gray-600);
}

aside.hide {
	display: none;
}

main {
	padding: 0 16px;
}

#story > *:not(figure), .hero {
	max-width: 360px;
	margin: 1rem auto;
}

#story h2 {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	margin-top: 4rem !important;
	font-size: var(--28px);
}

#story figure.feature {
	width: 100%;
	max-width: none !important;
	margin: 2rem auto !important;
}

#story figure.hide-desktop {
	display: block;
	max-width: 640px !important;
}

#story figure.hide-mobile {
	display: none;
}

#story figure, #story aside {
	transition: opacity 0.25s ease-in-out;
}

@media screen and (min-width: 480px) {
	p, h3 {
		font-size: 17px;
	}

	main {
		padding: 0;
	}
}

@media screen and (min-width: 1000px) {

	#story figure.hide-mobile {
		display: block;
	}

	#story figure.hide-desktop {
		display: none;
	}


	aside.hide {
		display: block;
	}

	#story {
		max-width: 360px;
		margin: 0 auto;
	}


	#story p {
		font-size: 17px;
		margin: 1.5em 0;
		position: relative;
	}

	#story p figure {
		display: inline-block;
	}

	#story > figure {
		display: none;
	}

	aside {
		position: absolute;
		top: 0;
		left: 0;
		transform: translate(calc(100% + 20px), 0);
		font-size: 13px;
		width: 100%;
		color: var(--color-gray-600);
		font-family: var(--sans);
		border-left: 1px solid var(--color-gray-300);
		padding-left: 20px;
		margin: 0;
	}

	aside a {
		color: var(--color-gray-600);
	}
	
	#story figure.left {
		position: absolute;
		top: var(--top, 0);
		left: 0;
		transform: translate(calc(-100% - 20px), 0);
	}

	#story figure.right:not(.feature) {
		position: absolute;
		top: var(--top, 0);
		left: 0;
		transform: translate(calc(100% + 20px), 0);
	}

	#story figure.right.middle {
		top: 50%;
		transform: translate(calc(100% + 20px), -50%);
	}

	#story figure.left.middle {
		top: 50%;
		transform: translate(calc(-100% - 20px), -50%);
	}

	#story figure.right.bottom {
		top: auto;
		bottom: var(--bottom, 0);
		transform: translate(calc(100% + 20px), 0);
	}

	#story figure.left.bottom {
		top: auto;
		bottom: var(--bottom, 0);
		transform: translate(calc(-100% - 20px), 0);
	}

	h2 {
		margin-top: 6rem;
	}

	#story figure.massmap {
		margin: -2rem auto -10rem auto !important;
		z-index: -1;
		/* left: 80%; */
		width: 1000px !important;
	}
}

@media screen and (min-width: 1100px) {
	aside {
		transform: translate(calc(100% + 40px), 0);
	}

	#story figure.left {
		transform: translate(calc(-100% - 40px), 0);
	}

	#story figure.right:not(.feature) {
		transform: translate(calc(100% + 40px), 0);
	}

	#story figure.right.middle {
		transform: translate(calc(100% + 40px), -50%);
	}

	#story figure.left.middle {
		transform: translate(calc(-100% - 40px), -50%);
	}

	#story figure.right.bottom {
		transform: translate(calc(100% + 40px), 0);
	}

	#story figure.left.bottom {
		transform: translate(calc(-100% - 40px), 0);
	}
}

@media screen and (min-width: 1200px) {
	aside {
		transform: translate(calc(100% + 60px), 0);
	}

	#story figure.left {
		transform: translate(calc(-100% - 60px), 0);
	}

	#story figure.right:not(.feature) {
		transform: translate(calc(100% + 60px), 0);
	}

	#story figure.right.middle {
		transform: translate(calc(100% + 60px), -50%);
	}

	#story figure.left.middle {
		transform: translate(calc(-100% - 60px), -50%);
	}

	#story figure.right.bottom {
		transform: translate(calc(100% + 60px), 0);
	}

	#story figure.left.bottom {
		transform: translate(calc(-100% - 60px), 0);
	}
}