@import "variables.css";
@import "normalize.css";
@import "font.css";
@import "reset.css";

/* colors defined in variables.css */
:root {
	/* font */
	--sans: "Atlas Grotesk", -apple-system, BlinkMacSystemFont, Helvetica, Arial, sans-serif;
	--serif: "Tiempos Text", Iowan Old Style, Times New Roman, Times, serif;
	--mono: Menlo, Consolas, Monaco, monospace;

	/* z-index */
	--z-bottom: -100;
	--z-middle: 0;
	--z-top: 100;
	--z-overlay: 1000;

	/* presets (used in reset.css) */
	--border-radius: 2px;
	--font-body: var(--serif);
	--font-form: var(--sans);
	--color-bg: var(--color-white);
	--color-fg: var(--color-gray-900);
	--color-primary: var(--color-black);
	--color-link: var(--color-black);
	--color-link-hover: var(--color-black);
	--color-focus: var(--color-red);
	--color-mark: var(--color-yellow);
	--color-selection: var(--color-gray-300);
	--color-border: var(--color-gray-300);
	--color-button-bg: var(--color-gray-100);
	--color-button-fg: var(--color-fg);
	--color-button-hover: var(--color-gray-300);
	--color-input-bg: var(--color-gray-50);
	--color-input-fg: var(--color-gray-900);
	--color-placeholder: var(--color-gray-500);

	/* "1" second duration */
	--1s: 1ms;
	
	--col-width: 720px;
	
}

/* dark theme */
/* @media screen and (prefers-color-scheme:dark) {
	:root {
		
	}
} */

@media screen and (prefers-reduced-motion: no-preference) {
	:root {
		--1s: 1s;
	}
}

h1, h2, h3, h4 {
	font-weight: bold;
	font-family: var(--sans);
}


h1 {
	font-size: var(--28px, 28px);
}


h2 {
	font-size: var(--28px, 28px);
}

h3 {
	font-size: 17px;
}


svg {
	display: block;
	width: 100%;
	height: auto;
}

button {
	border-radius: 4px;
	border: 2px solid var(--color-fg);
}

p, h3 {
	line-height: 1.75;
	font-size: 16px;
}

span.strike {
	display: inline-block;
	text-decoration: line-through;
}

.linear {
	max-width: 360px;
	margin: 0 auto;
}

.linear p.abridged {
	display: none;
}

.sidebar {
	display: none;
}


h2 {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	margin-top: 4rem;
	font-size: var(--28px);
}

h2 span {
	display: inline-flex;
	line-height: 1;
	font-size: var(--18px);
	background: var(--color-fg);
	color: var(--color-bg);
	padding: 0.5em;
	text-transform: uppercase;
	font-family: var(--sans);
}

.tldr p.abridged, .tldr figure {
	display: block;
	width: 100% !important;
	margin: 0 !important;
	max-width: none !important;
	padding: 0 !important;
}

.tldr figure .frame {
	display: none;
}

.classic .linear p figure {
	display: none;
}

p span.big {
	font-size: 2.5em;
}

figure.feature:nth-of-type(1) {
	margin: -2rem auto -10rem auto !important;
	z-index: -1;
	left: 80%;
}

@media screen and (min-width: 480px) {
	p, h3 {
		font-size: 17px;
	}
}

@media screen and (min-width: 1000px) {
	.classic .linear p {
		font-size: 17px;
		margin: 1.5em 0;
		position: relative;
	}

	.classic .linear p figure {
		display: inline-block;
	}
	
	/* .tldr .linear figure:not(.illo) {
		display: block !important;
		margin: 0 !important;
	}

	.tldr .linear figure:not(.illo) .frame {
		display: none;
	}

	.tldr .illo {
		display: none;
	} */

	.classic figure.left {
		position: absolute;
		top: 0;
		left: 0;
		transform: translate(calc(-100% - 20px), 0);
	}

	.classic figure.right {
		position: absolute;
		top: 0;
		left: 0;
		transform: translate(calc(100% + 20px), 0);
	}

	.classic figure.right.middle {
		top: 50%;
		transform: translate(calc(100% + 20px), -50%);
	}

	.classic figure.left.middle {
		top: 50%;
		transform: translate(calc(-100% - 20px), -50%);
	}

	.classic figure.right.bottom {
		top: auto;
		bottom: 0;
		transform: translate(calc(100% + 20px), 0);
	}

	.classic figure.left.bottom {
		top: auto;
		bottom: 0;
		transform: translate(calc(-100% - 20px), 0);
	}

}